# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# testing
/coverage

# local environment files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor and OS files
.vscode/
.idea/
.DS_Store
*.swp
